# ==========================================
# .gitignore | Sistema de Certificados CASIS
# ==========================================

# 1. Pastas do Sistema Operacional e IDEs
.DS_Store
Thumbs.db
.idea/
*.iws
*.iml
*.ipr
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# 2. Ignorados do Backend (Java / Spring Boot)
/backend/target/
/backend/build/
/backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# 3. Ignorados do Frontend (React / Vite)
/frontend/node_modules/
/frontend/dist/
/frontend/dist-ssr/
/frontend/.eslintcache
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# 4. Variáveis de Ambiente e Segredos (CRÍTICO)
# Nunca suba arquivos de configuração locais ou senhas do CASIS
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local
/backend/src/main/resources/secrets.properties